/* Write your CSS here */
.main-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sub-container {
  background-color: #ffffff;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  border-radius: 10px;
  border: 2px solid #eaebed;
  text-align: center;
  padding: 30px;
}
.heading-style {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 700;
  color: #0b69ff;
}
.paragraph-style {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  color: #333333;
}
.button-style {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  color: #e4ebf3;
  background-color: #0b69ff;
  cursor: pointer;
  outline: none;
  padding: 8px;
  border-radius: 8px;
  border-width: 0px;
}
.random-number-style {
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: bold;
  color: #0b69ff;
}
